1. Create a for loop that iterates through a list of strings and prints each string in uppercase.

In [5]:
countries = ['India', 'Rusia', 'Germany', 'China']

for country in countries:    
    upper_case = country.upper()    
    print(upper_case)

INDIA
RUSIA
GERMANY
CHINA

2. Create a for loop that iterates through a list of numbers and prints the square of each number.

In [6]:
num_lst = [1, 2.5, 3]

for num in num_lst:    
    num_sqr = num**2    
    print(num_sqr)

1
6.25
9

3. Create a for loop that iterates through a list of dictionaries and prints the value of a specified key for each dictionary.

In [20]:
kids_detail = [
    {"name": "harry", "gender": "male", "age": 9, "education": "Grade III"},
    {"name": "shri", "gender": "female", "age": 15, "blood_group": "O+"},
]

info_needed = "name"

for kid_info in kids_detail:
    if info_needed in kid_info:
        print(kid_info[info_needed])

    else:
        print(f"The {info_needed} key is not found.")

harry
shri

4. Create a for loop that iterates through a list of numbers and prints the largest number in the list.

In [12]:
num_lst = [58, 8, 82, 6, 75, 63]

largest = None

for num in num_lst:
    if largest is None or num > largest:
        largest = num
        
print(largest)

82

5. Create a for loop that iterates through a list of lists and prints the sum of the elements in each sub-list.

In [30]:

nest_lst = [[10, 35], [93, 15, 76], [68], [61, 12, 99, 1]]

for item in nest_lst:
    sum_item = sum(item)
    
    print(sum_item)

45
184
68
173